

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
#mainjumbo {
	height: 100%;
	width: 100%;
	background:white;

}
#maincontainer{
	background:white;
  margin: auto;
  text-align: center;
}
.topleft{
  font-size:2vw;
  text-align:left;
  width: 100%;
}
#minicontainer{
  text-align:left;
  width: 100%;
}
#minititle{
  letter-spacing: 0.1vw;
  text-align: left;
  margin: 0px;
  font-size:2vw;
  width: 100%;
}    

#minititle:hover {
   text-decoration: underline; 
 }


text {
		width:100%;
		text-align: center;
		filter: url(#filter);
		fill: black;
    	font-family: 'Calibri', sans-serif;
    	font-size: 10vw;
    	letter-spacing: 1rem;
      font-style: italic;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
     		}
#title{
	letter-spacing: 1vw;
  text-align: center;
  margin: auto;
}
#title:hover {
   text-decoration: underline; 
 }
input[type="text"]
{
    background: transparent;
    border: none;
    outline: none;

}


#hashin{
	width: 90%;
	font-size: 5vw;
    border: 0.5vw solid black; /* some kind of blue border */
    border-bottom: none;
    border-top: none;

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 1vw;
       -moz-border-radius: 1vw;
            border-radius: 1vw;


    /* make it glow! */
    

}





